.workspace-findings-layout{
    display: grid;
    grid-template-rows: 2.5em 100%;
}

.workspace-findings-body{
    height: calc(100% - 6.5em);
}

.workspace-findings-selection-container{
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 100%;
    gap: 1em;
}

.workspace-findings-selection-info{
    display: flex;
    gap: 1em;
}


.workspace-findings-selection-info >.icon{
    width: 2em;
    cursor: pointer;
}

.workspace-findings-selection-info  .icon:hover{
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
}

.workspace-finding-selection-arrow{
    cursor: pointer;
}

.workspace-finding-selection-arrow:hover{
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
}

.workspace-finding-selection-arrow:active{
    transform: translate(-0.2em, 0);
}

.tree-node text{
    color: var(--text);
}

.tree-link{
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.tree-link-animation{
    stroke-dasharray: 2%;
    animation: inverted-dash linear 20s infinite;
}

.tree-wordwrap{
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

.tree-node{
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px solid var(--primary-op);
    background-color: #00ccff20;
    border-radius: 0.5em;
    cursor: pointer;
}

.tree-node-heading{
    background-color: var(--primary-op);
    padding: 0.5em;
    text-align: center;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tree-node-content{
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.tree-node-type{
    font-size: 0.7em;
    text-align: center;
}

.tree-node-body{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.create-finding-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    height: 100%;
}

.create-finding-form{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 98%;
    overflow-y: auto;
}

.create-finding-form .sub-heading {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25em;
}

.create-finding-form .sub-heading .icon {
    width: 1.5em;
    margin-right: 0.2em;
}

.create-finding-files{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
}

.create-finding-editor{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.create-finding-editor .create-finding-pane{
    width: 100%;

}

.create-finding-editor-container {
    display: grid;
    grid-template-columns: 0.055fr 1fr;
}

.create-finding-pane{
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    padding: 2em;
    border: 1px solid var(--primary-op);
    background-color: #00ccff10;
    gap: 0.5em;
}

.create-finding-pane .sub-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-finding-screenshot{
    display: flex;
    opacity: 0.75;
    height: 10em;
    width: 10em;
    overflow: hidden;

    /* default image */
    background: url('https://qph.cf2.quoracdn.net/main-qimg-f32f85d21d59a5540948c3bfbce52e68');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 8px 6px -6px black;
}

.create-finding-upload{
    /* make it invisible */
    opacity: 0;
    /* make it take the full height and width of the parent container */
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.upload-icon{
    transform: translate(-50%, -50%);
    /* initial icon state */
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #ccc;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #bbb;
}

/* toggle icon state */
.create-finding-screenshot:hover .upload-icon {
    opacity: 1;
}

.preview-img{
    width: 10em;
    height: 10em;
    background-color: red;
}